@import "./header/header.css";
@import "./section/section.css";

header, section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.scroll {
    opacity: 0.5;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 48px;
    right: 16px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.scroll:hover {
    opacity: 1;
}