@import "./navbar.css";

header h1 {
    text-transform: uppercase;
    font-size: 48px;
}

.bg-header {
    background-image: url('../../../../public/img/header-background.png');
    animation: animatedBackground 30s linear infinite;
    -moz-animation: animatedBackground 30s linear infinite;
    -webkit-animation: animatedBackground 30s linear infinite;
    -o-animation: animatedBackground 30s linear infinite;
}

@keyframes animatedBackground {
    0% {background-position: 0 0}
    100% {background-position: 600px 600px}
}
/* Mozilla Firefox 5.0+ */
@-moz-keyframes animatedBackground {
    0% {background-position: 0 0}
    100% {background-position: 600px 600px}
}
/* Safari 4.0+, Chrome 4.0+ */
@-webkit-keyframes animatedBackground {
    0% {background-position: 0 0}
    100% {background-position: 600px 600px}
}
/* Opera 12.0+ */
@-o-keyframes animatedBackground {
    0% {background-position: 0 0}
    100% {background-position: 600px 600px}
}